* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page_title {
    background-color: #343A40;
    color: cornsilk;
    padding: 5px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}   

#content {
    background-color: blueviolet;
    position: absolute;
    top: 80px;
    bottom: 50px;
    left: 0;
    width: 100%;
}

#buttons {
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.custombtn {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
}

input {
    text-align: center;
}

select {
    text-align: center;
}

.alert {
    position: fixed;
    width: 96%;
    text-align: center;
    margin: 2%;
}

#footer-div {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: white;
}

.footer-item {
  margin: 5px;
    text-decoration: none;
    color: white;
}

.footer-item:hover {
  color: white;
}

/* mobile styles*/
@media only screen and (max-width: 400px) {
    .alert {
        display: none;
    }

    #name {
        font-size: 12px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .alert {
        display: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .alert {
        display: block;
    }
}