* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assassin';
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('wedge.svg');
    background-size: 100% 100%;
}

@font-face {
    font-family: 'Assassin';
    src: URL('assassin.ttf') format('truetype');
  }

#page_title {
    background-color: #575757;
    color: white;
    font-family: 'Assassin';
    padding: none;
    padding-top: 5px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}   

#content {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0;
    width: 100%;
}

#buttons {
    text-align: center;
    display: flex;
    height: 100%;
    padding-bottom: 10%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.custombtn {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    font-size: 1.8rem;
}

.entry {
    font-size: 1.8rem;
}

.action {
    background-color: #6c090c;
    color: white;
}

.exit {
    color: white;
    background-color: #c72123;
}

.info {
    color: white;
    background-color: #575757;
}

option {
    font-size: 1.8rem;
}

input {
    text-align: center;
}

.form-control {
    text-align-last: center;
    font-size: 1.8rem;
}

.alert {
    position: fixed;
    width: 96%;
    text-align: center;
    margin: 2%;
}

#footer-div {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    width: 100%;
    justify-content: flex-end;
    color: white;
}

.footer-item {
  margin: 5px;
    text-decoration: none;
    color: white;
}

.footer-item:hover {
  color: white;
}

/* mobile styles*/
@media only screen and (max-width: 400px) {
    .alert {
        display: none;
    }

    #name {
        font-size: 12px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .alert {
        display: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .alert {
        display: block;
    }
}